<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fontawesome.com/icons?d=gallery&m=free">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel = "stylesheet" href ="/css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERCADO LIEBRE</title>
</head>
<body>
    <Header>
        <section class="logo-barra">
<picture class="logo">
    <img src="/images/logo-mercado-liebre.svg" alt="logo" width="100%" height="50%">
</picture>
<form class="barra">
<input type="search" name="busqueda" placeholder="Buscar productos, marcas y más"><button type="submit"><i class="fas fa-search"></i></button>
</form>
<h3 class="titulo"><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</h3>
        </section>
            <nav class="site-login">
    <section class="site">
        <a href="/ofertas">Ofertas</a>
        <a href="/tiendasoficiales">Tiendas Oficiales</a>
        <a href="/vender">Vender</a>
        <a href="/ayuda">Ayuda</i></a>
    </section>
    <section class="login">
        <a href="/register">Crea tu cuenta<i class="far fa-id-card"></i></a>
        <a href="/login">Ingresa<i class="fas fa-sign-out-alt"></i></a>
        <a href="/miscompras">Mis compras<i class="fas fa-shopping-basket"></i></a>
    </section>

      <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
</nav>
    </Header>
    <picture class="banner">
        <img width="100%" height="50%" src="/images/img-home-banner.jpg" alt="banner">
    </picture>
<main>
    <h2 class="titulares">Basado en tu última visita</h2>
    <section class="secciones">
        <article class="articulo">
        <picture class="img">
            <img width="80%" height="60%" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
        </picture>
        <div class="info">
        <div class="camion">
            <i class="fas fa-truck"></i>
        </div>
        <p class="precio">$6.770</p>
        <p class="desc">40% OFF</p>
        <h3 class="descripcion">Cafetera Moulinex</h3>
        </div>
        </article>
        <article class="articulo">
        <picture class="img">
            <img width="80%" height="60%" src="/images/img-macbook-pro-2019.jpg" alt="computadora">
        </picture>
        <div class="info">
        <div class="camion">
            <i class="fas fa-truck"></i>
        </div>
        <p class="precio">$230.000</p>
        <p class="desc">20% OFF</p>
        <h3 class="descripcion">MacBook Pro 2019</h3>
        </div>
        </article>
        <article class="articulo">
        <picture class="img">
            <img width="80%" height="60%" src="/images/img-samsung-galaxy-s10.jpg" alt="celular">
        </picture>
        <div class="info" >
        <div class="camion">
            <i class="fas fa-truck"></i>
        </div>
        <p class="precio">$70.500</p>
        <p class="desc">10% OFF</p>
        <h3 class="descripcion">Samsung Galaxy S10</h3>
        </div>
        </article>
        <article class="articulo">
        <picture class="img">
            <img width="80%" height="60%" src="/images/img-tv-samsung-smart.jpg" alt="tv">
        </picture>
        <div class="info">
        <div class="camion">
            <i class="fas fa-truck"></i>
        </div>
        <p class="precio">$23.200</p>
        <p class="desc">5% OFF</p>
        <h3 class="descripcion">SmartTv Samsung 43"</h3>
        </div>
        </article>
    </section>
    <h2 class="titulares">Ofertas</h2>
    <section class="secciones">
        <article class="articulo">
        <picture class="img">
            <img width="80%" height="60%" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
        </picture>
        <div class="info">
        <div class="camion">
            <i class="fas fa-truck"></i>
        </div>
        <p class="precio">$6.770</p>
        <p class="desc">40% OFF</p>
        <h3 class="descripcion">Cafetera Moulinex</h3>
        </div>
    </article>
    <article class="articulo">
        <picture class="img">
            <img width="80%" height="60%" src="/images/img-macbook-pro-2019.jpg" alt="cafetera">
        </picture>
        <div class="info">
        <div class="camion">
            <i class="fas fa-truck"></i>
        </div>
        <p class="precio">$230.000</p>
        <p class="desc">20% OFF</p>
        <h3 class="descripcion">MacBook Pro 2019</h3>
        </div>
        </article>
        <article class="articulo">
        <picture class="img">
            <img width="80%" height="60%" src="/images/img-samsung-galaxy-s10.jpg" alt="cafetera">
        </picture>
        <div class="info">
        <div class="camion">
            <i class="fas fa-truck"></i>
        </div>
        <p class="precio">$70.500</p>
        <p class="desc">10% OFF</p>
        <h3 class="descripcion">Samsung Galaxy S10</h3>
        </div>
        </article>
        <article class="articulo">
        <picture class="img">
            <img width="80%" height="60%" src="/images/img-tv-samsung-smart.jpg" alt="cafetera">
        </picture>
        <div class="info">
        <div class="camion">
            <i class="fas fa-truck"></i>
        </div>
        <p class="precio">$23.200</p>
        <p class="desc">5% OFF</p>
        <h3 class="descripcion">SmartTv Samsung 43"</h3>
        </div>
        </article>
    </section>
</main>
<br>
<footer>
    <section>
        <ul class="list-foot">
            <li>
            <p class="icono"><i class="fas fa-credit-card -2em"></i></p> 
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p class="texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
            </p></li>
            <li>
            <p class="icono"><i class="fas fa-gift"></i></p> 
            <h4>Envío gratis desde $ 2.500</h4>
            <p class="texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
            </p></li>
            <li>
            <p class="icono"><i class="fas fa-user-shield"></i></p> 
            <h4>Seguridad, de principio a fin</h4>
            <p class="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p></li>
       </ul> 
        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
    </section>
</footer>
</body>
</html>