<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href ="/css/login.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    <form>
        <fieldset>
            <legend>Nombre de usuario</legend>
            <label for="nombreUsuario"></label>
            <input type="text" id="nombreUsuario" name="nombreUsuario" required placeholder="Nombre de Usuario">
        </fieldset>

        <fieldset>
            <legend>Contraseña</legend>
            <label for="contraseña"></label>
            <input type="password" id="contraseña" name="contraseña" required placeholder="Contraseña">
        </fieldset>

        <fieldset>
            <button type="submit" class="boton">Enviar</button>
        </fieldset>
    </form>
</body>
</html>